<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.order.OrderInfo">
        <id column="mark_id" jdbcType="VARCHAR" property="markId" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
        <result column="delivery_amount" jdbcType="DECIMAL" property="deliveryAmount" />
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
        <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
        <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
        <result column="arrive_time" jdbcType="TIMESTAMP" property="arriveTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="order_type" jdbcType="INTEGER" property="orderType" />
        <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
        <result column="coupon_id" jdbcType="VARCHAR" property="couponId" />
        <result column="order_source" jdbcType="VARCHAR" property="orderSource" />
        <result column="manager_id" jdbcType="VARCHAR" property="managerId" />
        <result column="nickName" jdbcType="VARCHAR" property="nickName" />
        <result column="statusDesc" jdbcType="VARCHAR" property="statusDesc" />
        <result column="managerName" jdbcType="VARCHAR" property="managerName" />
    </resultMap>
    <sql id="Base_Column_List">
        o.mark_id, o.order_no, o.user_id, o.order_amount,
        o.delivery_amount, o.pay_amount, o.order_time, pay_time, o.cancel_time,
        o.delivery_date, o.send_time, o.arrive_time, o.remark, o.order_type,
        o.order_status, o.coupon_id, o.order_source, o.manager_id
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />,
            (SELECT u.nick_name FROM db_user.t_user_info u WHERE u.mark_id=user_id) AS nickName,
            (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=order_status) AS statusDesc
        from t_order_info o
        where o.mark_id = #{markId,jdbcType=VARCHAR}
    </select>
    <select id="selectByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />,
            (SELECT u.nick_name FROM db_user.t_user_info u WHERE u.mark_id=user_id) AS nickName,
            (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=order_status) AS statusDesc
        from t_order_info o
        where o.order_no = #{orderNo,jdbcType=VARCHAR}
        <if test="userId != null">
            and o.user_id=#{userId,jdbcType=VARCHAR}
        </if>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_order_info
        where mark_id =
        #{markId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.order.OrderInfo">
        insert into t_order_info (mark_id, order_no, user_id, order_amount, delivery_amount, pay_amount,
            order_time, pay_time, cancel_time, delivery_date, send_time, arrive_time, remark, order_type, order_status, coupon_id, order_source, manager_id)
        values (#{markId,jdbcType=VARCHAR},
            #{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
            #{orderAmount,jdbcType=DECIMAL}, #{deliveryAmount,jdbcType=DECIMAL},
            #{payAmount,jdbcType=DECIMAL}, #{orderTime,jdbcType=TIMESTAMP},
            #{payTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP},
            #{deliveryDate,jdbcType=TIMESTAMP}, #{sendTime,jdbcType=TIMESTAMP},
            #{arriveTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
            #{orderType,jdbcType=INTEGER}, #{orderStatus,jdbcType=VARCHAR},
            #{couponId,jdbcType=VARCHAR}, #{orderSource,jdbcType=VARCHAR}, #{managerId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.order.OrderInfo">
        insert into t_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                mark_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="orderAmount != null">
                order_amount,
            </if>
            <if test="deliveryAmount != null">
                delivery_amount,
            </if>
            <if test="payAmount != null">
                pay_amount,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="cancelTime != null">
                cancel_time,
            </if>
            <if test="deliveryDate != null">
                delivery_date,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="arriveTime != null">
                arrive_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="couponId != null">
                coupon_id,
            </if>
            <if test="orderSource != null">
                order_source,
            </if>
            <if test="managerId != null">
                manager_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                #{markId,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="deliveryAmount != null">
                #{deliveryAmount,jdbcType=DECIMAL},
            </if>
            <if test="payAmount != null">
                #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cancelTime != null">
                #{cancelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryDate != null">
                #{deliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arriveTime != null">
                #{arriveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=INTEGER},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="couponId != null">
                #{couponId,jdbcType=VARCHAR},
            </if>
            <if test="orderSource != null">
                #{orderSource,jdbcType=VARCHAR},
            </if>
            <if test="managerId != null">
                #{managerId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.order.OrderInfo">
        update t_order_info
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                order_amount = #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="deliveryAmount != null">
                delivery_amount = #{deliveryAmount,jdbcType=DECIMAL},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryDate != null">
                delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arriveTime != null">
                arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=INTEGER},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="couponId != null">
                coupon_id = #{couponId,jdbcType=VARCHAR},
            </if>
            <if test="orderSource != null">
                order_source = #{orderSource,jdbcType=VARCHAR},
            </if>
            <if test="managerId != null">
                manager_id = #{managerId,jdbcType=VARCHAR},
            </if>
        </set>
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.order.OrderInfo">
        update t_order_info
        set order_no = #{orderNo,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=VARCHAR},
            order_amount = #{orderAmount,jdbcType=DECIMAL},
            delivery_amount = #{deliveryAmount,jdbcType=DECIMAL},
            pay_amount = #{payAmount,jdbcType=DECIMAL},
            order_time = #{orderTime,jdbcType=TIMESTAMP},
            pay_time = #{payTime,jdbcType=TIMESTAMP},
            cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
            delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
            send_time = #{sendTime,jdbcType=TIMESTAMP},
            arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
            remark = #{remark,jdbcType=VARCHAR},
            order_type = #{orderType,jdbcType=INTEGER},
            order_status = #{orderStatus,jdbcType=VARCHAR},
            coupon_id = #{couponId,jdbcType=VARCHAR},
            order_source = #{orderSource,jdbcType=VARCHAR},
            manager_id = #{managerId,jdbcType=VARCHAR}
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <select id="selectByExampleSelective" parameterType="com.szhengzhu.bean.order.OrderInfo" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" /> ,
            u.nick_name AS nickName,
            (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=order_status) AS statusDesc
        FROM t_order_info o LEFT JOIN db_user.t_user_info u ON u.mark_id=o.user_id
        <where>
            <if test="orderNo != null">
                o.order_no LIKE CONCAT('%', #{orderNo,jdbcType=VARCHAR}, '%')
            </if>
            <if test="userId != null">
                AND o.user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="orderAmount != null">
                AND o.order_amount = #{orderAmount,jdbcType=DECIMAL}
            </if>
            <if test="deliveryAmount != null">
                AND o.delivery_amount = #{deliveryAmount,jdbcType=DECIMAL}
            </if>
            <if test="payAmount != null">
                AND o.pay_amount = #{payAmount,jdbcType=DECIMAL}
            </if>
            <if test="orderTime != null">
                AND TO_DAYS(o.order_time) = TO_DAYS(#{orderTime,jdbcType=TIMESTAMP})
            </if>
            <if test="payTime != null">
                AND TO_DAYS(o.pay_time) = TO_DAYS(#{payTime,jdbcType=TIMESTAMP})
            </if>
            <if test="cancelTime != null">
                AND TO_DAYS(o.cancel_time) = TO_DAYS(#{cancelTime,jdbcType=TIMESTAMP})
            </if>
            <if test="deliveryDate != null">
                AND TO_DAYS(o.delivery_date) = TO_DAYS(#{deliveryDate,jdbcType=TIMESTAMP})
            </if>
            <if test="sendTime != null">
                AND TO_DAYS(o.send_time) = TO_DAYS(#{sendTime,jdbcType=TIMESTAMP})
            </if>
            <if test="arriveTime != null">
                AND o.arrive_time = #{arriveTime,jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null">
                AND o.remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="orderType != null">
                AND o.order_type = #{orderType,jdbcType=INTEGER}
            </if>
            <if test="orderStatus != null">
                AND o.order_status = #{orderStatus,jdbcType=VARCHAR}
            </if>
            <if test="couponId != null">
                AND o.coupon_id = #{couponId,jdbcType=VARCHAR}
            </if>
            <if test="orderSource != null">
                AND o.order_source = #{orderSource,jdbcType=VARCHAR}
            </if>
            <if test="managerId != null">
                AND manager_id = #{managerId,jdbcType=VARCHAR}
            </if>
            <if test="nickName != null">
                AND u.nick_name LIKE CONCAT('%', #{nickName,jdbcType=VARCHAR}, '%')
            </if>
        </where>
    </select>

    <select id="selectOrderDetail" resultType="com.szhengzhu.bean.wechat.vo.OrderDetail">
        SELECT o.mark_id AS orderId,o.order_no AS orderNo,o.order_time AS orderTime,o.delivery_amount AS deliveryAmount,
               o.pay_amount AS payAmount,o.delivery_date AS deliveryDate, a.`name` AS statusDesc,d.contact,d.phone, o.order_status AS orderStatus,
               CONCAT(d.delivery_area, d.delivery_address) AS address,
              (SUM(i.sale_price - i.pay_amount) + (o.order_amount - (o.pay_amount- o.delivery_amount))) AS discount,o.remark, 1 as type
        FROM t_order_info o LEFT JOIN
             db_base.t_attribute_info a ON o.order_status=a.`code` LEFT JOIN
             t_order_delivery d ON d.order_id=o.mark_id LEFT JOIN
             t_order_item i ON o.mark_id=i.order_id
        WHERE o.order_no=#{orderNo,jdbcType=VARCHAR}
        <if test="userId != null">
            and o.user_id=#{userId,jdbcType=VARCHAR}
        </if>
    </select>
    <select id="selectStatusOrder" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from t_order_info o
        where order_status=#{orderStatus,jdbcType=VARCHAR}
    </select>
    <select id="selectExpiredOrder" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from t_order_info o
        WHERE order_status='OT01' AND UNIX_TIMESTAMP(NOW()) - UNIX_TIMESTAMP(order_time) > 15 * 60
    </select>
    <select id="selectIndexStatusCount" resultType="com.szhengzhu.bean.rpt.IndexDisplay">
        SELECT COUNT(*) AS quantity,'已支付订单' AS `name` FROM  t_order_info WHERE order_status = 'OT02'
        UNION ALL
        SELECT COUNT(*) AS quantity,'待发货订单' AS `name` FROM  t_order_info WHERE order_status = 'OT03'
        UNION ALL
        SELECT COUNT(*) AS quantity,'待退款订单' AS `name` FROM  t_order_info WHERE order_status = 'OT08'
    </select>
    <update id="batchUpdateStatus" parameterType="java.util.List">
        update t_order_info
        set
        order_status = 'OT03'
        where mark_id in
         <foreach collection="list" item="item" index ="index" open="(" separator="," close=")">
            #{item.markId}
         </foreach>
    </update>
    <select id="selectChooseOrder" parameterType="java.util.List" resultMap="BaseResultMap">
        select
         <include refid="Base_Column_List" />
         from t_order_info o
          where o.mark_id in
           <foreach collection="list" item="item" index ="index" open="(" separator="," close=")">
                #{item}
           </foreach>
    </select>
    <select id="selectShareOrderByExampleSelective" parameterType="com.szhengzhu.bean.order.OrderInfo" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" /> ,
            u.nick_name AS nickName,
            (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=order_status) AS statusDesc,
            m.real_name as managerName
        FROM t_order_info o LEFT JOIN db_user.t_user_info u ON u.mark_id=o.user_id LEFT JOIN
             db_user.t_user_info m ON m.mark_id=o.manager_id
        WHERE o.manager_id IS NOT NULL
            <if test="orderNo != null">
                AND o.order_no LIKE CONCAT('%', #{orderNo,jdbcType=VARCHAR}, '%')
            </if>
            <if test="userId != null">
                AND o.user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="orderAmount != null">
                AND o.order_amount = #{orderAmount,jdbcType=DECIMAL}
            </if>
            <if test="deliveryAmount != null">
                AND o.delivery_amount = #{deliveryAmount,jdbcType=DECIMAL}
            </if>
            <if test="payAmount != null">
                AND o.pay_amount = #{payAmount,jdbcType=DECIMAL}
            </if>
            <if test="orderTime != null">
                AND TO_DAYS(o.order_time) = TO_DAYS(#{orderTime,jdbcType=TIMESTAMP})
            </if>
            <if test="payTime != null">
                AND TO_DAYS(o.pay_time) = TO_DAYS(#{payTime,jdbcType=TIMESTAMP})
            </if>
            <if test="cancelTime != null">
                AND TO_DAYS(o.cancel_time) = TO_DAYS(#{cancelTime,jdbcType=TIMESTAMP})
            </if>
            <if test="deliveryDate != null">
                AND TO_DAYS(o.delivery_date) = TO_DAYS(#{deliveryDate,jdbcType=TIMESTAMP})
            </if>
            <if test="sendTime != null">
                AND TO_DAYS(o.send_time) = TO_DAYS(#{sendTime,jdbcType=TIMESTAMP})
            </if>
            <if test="arriveTime != null">
                AND TO_DAYS(o.arrive_time) = TO_DAYS(#{arriveTime,jdbcType=TIMESTAMP})
            </if>
            <if test="remark != null">
                AND o.remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="orderType != null">
                AND o.order_type = #{orderType,jdbcType=INTEGER}
            </if>
            <if test="orderStatus != null">
                AND o.order_status = #{orderStatus,jdbcType=VARCHAR}
            </if>
            <if test="couponId != null">
                AND o.coupon_id = #{couponId,jdbcType=VARCHAR}
            </if>
            <if test="orderSource != null">
                AND o.order_source = #{orderSource,jdbcType=VARCHAR}
            </if>
            <if test="managerId != null">
                AND manager_id = #{managerId,jdbcType=VARCHAR}
            </if>
            <if test="nickName != null">
                AND u.nick_name LIKE CONCAT('%', #{nickName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="managerName != null">
                AND m.real_name LIKE CONCAT('%', #{managerName,jdbcType=VARCHAR}, '%')
            </if>
    </select>
</mapper>
