<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.OrderInfoMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.order.OrderInfo">
        <id column="mark_id" jdbcType="VARCHAR" property="markId" />
        <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="order_amount" jdbcType="DECIMAL" property="orderAmount" />
        <result column="delivery_amount" jdbcType="DECIMAL" property="deliveryAmount" />
        <result column="pay_amount" jdbcType="DECIMAL" property="payAmount" />
        <result column="order_time" jdbcType="TIMESTAMP" property="orderTime" />
        <result column="pay_time" jdbcType="TIMESTAMP" property="payTime" />
        <result column="cancel_time" jdbcType="TIMESTAMP" property="cancelTime" />
        <result column="delivery_date" jdbcType="TIMESTAMP" property="deliveryDate" />
        <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
        <result column="arrive_time" jdbcType="TIMESTAMP" property="arriveTime" />
        <result column="remark" jdbcType="VARCHAR" property="remark" />
        <result column="order_type" jdbcType="INTEGER" property="orderType" />
        <result column="order_status" jdbcType="VARCHAR" property="orderStatus" />
        <result column="coupon_id" jdbcType="VARCHAR" property="couponId" />
        <result column="order_source" jdbcType="VARCHAR" property="orderSource" />
        <result column="nickName" jdbcType="VARCHAR" property="nickName" />
        <result column="statusDesc" jdbcType="VARCHAR" property="statusDesc" />
    </resultMap>
    <sql id="Base_Column_List">
        o.mark_id, o.order_no, o.user_id, o.order_amount,
        o.delivery_amount, o.pay_amount, o.order_time, pay_time, o.cancel_time,
        o.delivery_date, o.send_time, o.arrive_time, o.remark, o.order_type,
        o.order_status, o.coupon_id, o.order_source
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />,
            (SELECT u.nick_name FROM db_user.t_user_info u WHERE u.mark_id=user_id) AS nickName,
            (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=order_status) AS statusDesc
        from t_order_info o
        where o.mark_id = #{markId,jdbcType=VARCHAR}
    </select>
    <select id="selectByNo" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />,
            (SELECT u.nick_name FROM db_user.t_user_info u WHERE u.mark_id=user_id) AS nickName,
            (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=order_status) AS statusDesc
        from t_order_info o
        where o.order_no = #{orderNo,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_order_info
        where mark_id =
        #{markId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.order.OrderInfo">
        insert into t_order_info (mark_id, order_no, user_id, order_amount, delivery_amount, pay_amount,
            order_time, pay_time, cancel_time, delivery_date, send_time, arrive_time, remark, order_type, order_status, coupon_id, order_source)
        values (#{markId,jdbcType=VARCHAR},
            #{orderNo,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR},
            #{orderAmount,jdbcType=DECIMAL}, #{deliveryAmount,jdbcType=DECIMAL},
            #{payAmount,jdbcType=DECIMAL}, #{orderTime,jdbcType=TIMESTAMP},
            #{payTime,jdbcType=TIMESTAMP}, #{cancelTime,jdbcType=TIMESTAMP},
            #{deliveryDate,jdbcType=TIMESTAMP}, #{sendTime,jdbcType=TIMESTAMP},
            #{arriveTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR},
            #{orderType,jdbcType=INTEGER}, #{orderStatus,jdbcType=VARCHAR},
            #{couponId,jdbcType=VARCHAR}, #{orderSource,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.order.OrderInfo">
        insert into t_order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                mark_id,
            </if>
            <if test="orderNo != null">
                order_no,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="orderAmount != null">
                order_amount,
            </if>
            <if test="deliveryAmount != null">
                delivery_amount,
            </if>
            <if test="payAmount != null">
                pay_amount,
            </if>
            <if test="orderTime != null">
                order_time,
            </if>
            <if test="payTime != null">
                pay_time,
            </if>
            <if test="cancelTime != null">
                cancel_time,
            </if>
            <if test="deliveryDate != null">
                delivery_date,
            </if>
            <if test="sendTime != null">
                send_time,
            </if>
            <if test="arriveTime != null">
                arrive_time,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="orderType != null">
                order_type,
            </if>
            <if test="orderStatus != null">
                order_status,
            </if>
            <if test="couponId != null">
                coupon_id,
            </if>
            <if test="orderSource != null">
                order_source,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                #{markId,jdbcType=VARCHAR},
            </if>
            <if test="orderNo != null">
                #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="deliveryAmount != null">
                #{deliveryAmount,jdbcType=DECIMAL},
            </if>
            <if test="payAmount != null">
                #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderTime != null">
                #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cancelTime != null">
                #{cancelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryDate != null">
                #{deliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arriveTime != null">
                #{arriveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                #{orderType,jdbcType=INTEGER},
            </if>
            <if test="orderStatus != null">
                #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="couponId != null">
                #{couponId,jdbcType=VARCHAR},
            </if>
            <if test="orderSource != null">
                #{orderSource,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.order.OrderInfo">
        update t_order_info
        <set>
            <if test="orderNo != null">
                order_no = #{orderNo,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="orderAmount != null">
                order_amount = #{orderAmount,jdbcType=DECIMAL},
            </if>
            <if test="deliveryAmount != null">
                delivery_amount = #{deliveryAmount,jdbcType=DECIMAL},
            </if>
            <if test="payAmount != null">
                pay_amount = #{payAmount,jdbcType=DECIMAL},
            </if>
            <if test="orderTime != null">
                order_time = #{orderTime,jdbcType=TIMESTAMP},
            </if>
            <if test="payTime != null">
                pay_time = #{payTime,jdbcType=TIMESTAMP},
            </if>
            <if test="cancelTime != null">
                cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
            </if>
            <if test="deliveryDate != null">
                delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sendTime != null">
                send_time = #{sendTime,jdbcType=TIMESTAMP},
            </if>
            <if test="arriveTime != null">
                arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="orderType != null">
                order_type = #{orderType,jdbcType=INTEGER},
            </if>
            <if test="orderStatus != null">
                order_status = #{orderStatus,jdbcType=VARCHAR},
            </if>
            <if test="couponId != null">
                coupon_id = #{couponId,jdbcType=VARCHAR},
            </if>
            <if test="orderSource != null">
                order_source = #{orderSource,jdbcType=VARCHAR},
            </if>
        </set>
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.order.OrderInfo">
        update t_order_info
        set order_no = #{orderNo,jdbcType=VARCHAR},
            user_id = #{userId,jdbcType=VARCHAR},
            order_amount = #{orderAmount,jdbcType=DECIMAL},
            delivery_amount = #{deliveryAmount,jdbcType=DECIMAL},
            pay_amount = #{payAmount,jdbcType=DECIMAL},
            order_time = #{orderTime,jdbcType=TIMESTAMP},
            pay_time = #{payTime,jdbcType=TIMESTAMP},
            cancel_time = #{cancelTime,jdbcType=TIMESTAMP},
            delivery_date = #{deliveryDate,jdbcType=TIMESTAMP},
            send_time = #{sendTime,jdbcType=TIMESTAMP},
            arrive_time = #{arriveTime,jdbcType=TIMESTAMP},
            remark = #{remark,jdbcType=VARCHAR},
            order_type = #{orderType,jdbcType=INTEGER},
            order_status = #{orderStatus,jdbcType=VARCHAR},
            coupon_id = #{couponId,jdbcType=VARCHAR},
            order_source = #{orderSource,jdbcType=VARCHAR}
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <select id="selectByExampleSelective" parameterType="com.szhengzhu.bean.order.OrderInfo" resultMap="BaseResultMap">
        SELECT
            <include refid="Base_Column_List" /> ,
            (SELECT u.nick_name FROM db_user.t_user_info u WHERE u.mark_id=user_id) AS nickName,
            (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=order_status) AS statusDesc
        FROM t_order_info o
        <where>
            <if test="markId != null">
                o.mark_id = #{markId,jdbcType=VARCHAR}
            </if>
            <if test="orderNo != null">
                AND o.order_no LIKE CONCAT(CONCAT('%', #{orderNo,jdbcType=VARCHAR}), '%')
            </if>
            <if test="userId != null">
                AND o.user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="orderAmount != null">
                AND o.order_amount = #{orderAmount,jdbcType=DECIMAL}
            </if>
            <if test="deliveryAmount != null">
                AND o.delivery_amount = #{deliveryAmount,jdbcType=DECIMAL}
            </if>
            <if test="payAmount != null">
                AND o.pay_amount = #{payAmount,jdbcType=DECIMAL}
            </if>
            <if test="orderTime != null">
                AND o.order_time = #{orderTime,jdbcType=TIMESTAMP}
            </if>
            <if test="payTime != null">
                AND o.pay_time = #{payTime,jdbcType=TIMESTAMP}
            </if>
            <if test="cancelTime != null">
                AND o.cancel_time = #{cancelTime,jdbcType=TIMESTAMP}
            </if>
            <if test="deliveryDate != null">
                AND TO_DAYS(o.delivery_date) = TO_DAYS(#{deliveryDate,jdbcType=TIMESTAMP})
            </if>
            <if test="sendTime != null">
                AND TO_DAYS(o.send_time) = TO_DAYS(#{sendTime,jdbcType=TIMESTAMP})
            </if>
            <if test="arriveTime != null">
                AND o.arrive_time = #{arriveTime,jdbcType=TIMESTAMP}
            </if>
            <if test="remark != null">
                AND o.remark = #{remark,jdbcType=VARCHAR}
            </if>
            <if test="orderType != null">
                AND o.order_type = #{orderType,jdbcType=INTEGER}
            </if>
            <if test="orderStatus != null">
                AND o.order_status = #{orderStatus,jdbcType=VARCHAR}
            </if>
            <if test="couponId != null">
                AND o.coupon_id = #{couponId,jdbcType=VARCHAR}
            </if>
            <if test="orderSource != null">
                AND o.order_source = #{orderSource,jdbcType=VARCHAR}
            </if>
        </where>
    </select>       
    <select id="selectAll" parameterType="java.lang.String" resultType="com.szhengzhu.bean.wechat.vo.OrderBase">
        SELECT o.mark_id AS orderId, o.order_no AS orderNo, o.order_time AS orderTime, o.pay_amount AS payAmount,  
               o.quantity AS count, o.order_status AS orderStatus, o.type
        FROM ((SELECT o.mark_id, o.order_no, o.order_time, o.pay_amount, 1 AS type,
                      (SELECT SUM(oi.quantity) FROM t_order_item oi WHERE oi.order_id=o.mark_id) AS quantity,
                      (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=o.order_status) AS order_status
               FROM t_order_info o 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR})
               UNION ALL
              (SELECT o.mark_id, o.order_no, o.order_time, o.pay_amount, o.quantity,3 AS type,
                      (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=o.order_status) AS order_status
               FROM t_seckill_order o 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR})
               UNION ALL 
              (SELECT o.mark_id, o.order_no, o.order_time, o.pay_amount, o.quantity,2 AS type,
                     (CASE WHEN g.server_status=1 THEN 
                                                              '拼团中' 
                           ELSE 
                               (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=o.order_status) 
               END) AS order_status
            FROM t_teambuy_group g LEFT JOIN 
                 t_teambuy_order o ON g.mark_id=o.group_id 
            WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND g.server_status=2)) o
    </select>
    <select id="selectUnpaid" parameterType="java.lang.String" resultType="com.szhengzhu.bean.wechat.vo.OrderBase">
        SELECT o.mark_id AS orderId, o.order_no AS orderNo, '待支付' AS orderStatus, o.order_time AS orderTime, o.pay_amount AS payAmount, 
               (SELECT SUM(oi.quantity) FROM t_order_item oi WHERE oi.order_id=o.mark_id) AS count, 1 AS type
        FROM t_order_info o
        WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND o.order_status='OT01'
    </select>
    <select id="selectUngroup" parameterType="java.lang.String" resultType="com.szhengzhu.bean.wechat.vo.OrderBase">
        SELECT o.mark_id AS orderId, o.order_no AS orderNo, o.order_time AS orderTime, o.pay_amount AS payAmount,  
               o.quantity AS count, '待成团' AS orderStatus, 3 AS type
        FROM t_teambuy_group g LEFT JOIN t_teambuy_order o ON g.mark_id=o.group_id 
        WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND g.server_status=1 AND g.mark_id IS NOT NULL
    </select>
    <select id="selectUndelivery" parameterType="java.lang.String" resultType="com.szhengzhu.bean.wechat.vo.OrderBase">
        SELECT o.mark_id AS orderId, o.order_no AS orderNo, o.order_time AS orderTime, o.pay_amount AS payAmount,  
               o.quantity AS count, '待发货' AS orderStatus, o.type
        FROM ((SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount, 
                      (SELECT SUM(oi.quantity) FROM t_order_item oi WHERE oi.order_id=o.mark_id) AS quantity,1 AS type
               FROM t_order_info o 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND (o.order_status='OT03' OR o.order_status='OT02'))
               UNION ALL
              (SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount, o.quantity,3 AS type
               FROM t_seckill_order o 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND (o.order_status='OT03' OR o.order_status='OT02'))
               UNION ALL
              (SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount, o.quantity,2 AS type
               FROM t_teambuy_group g LEFT JOIN t_teambuy_order o ON g.mark_id=o.group_id 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND g.server_status=2 AND (o.order_status='OT03' OR o.order_status='OT02'))) o
    </select>
    <select id="selectUnReceive" parameterType="java.lang.String" resultType="com.szhengzhu.bean.wechat.vo.OrderBase">
        SELECT o.mark_id AS orderId, o.order_no AS orderNo, o.order_time AS orderTime, o.pay_amount AS payAmount,  
               o.quantity AS count, '待收货' AS orderStatus, o.type
        FROM ((SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount,  
                      (SELECT SUM(oi.quantity) FROM t_order_item oi WHERE oi.order_id=o.mark_id) AS quantity,1 AS type
               FROM t_order_info o 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND o.order_status='OT04')
               UNION ALL
              (SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount, o.quantity,3 AS type
               FROM t_seckill_order o 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND o.order_status='OT04')
               UNION ALL
              (SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount, o.quantity,2 AS type
               FROM t_teambuy_group g LEFT JOIN t_teambuy_order o ON g.mark_id=o.group_id 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND g.server_status=2 AND o.order_status='OT04')) o
    </select>
    <select id="selectUnjudge" parameterType="java.lang.String" resultType="com.szhengzhu.bean.wechat.vo.OrderBase">
        SELECT o.mark_id AS orderId, o.order_no AS orderNo, o.order_time AS orderTime, o.pay_amount AS payAmount,  
               o.quantity AS count, '待评价' AS orderStatus, o.type
        FROM ((SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount,  
                      (SELECT SUM(oi.quantity) FROM t_order_item oi WHERE oi.order_id=o.mark_id) AS quantity,1 AS type
               FROM t_order_info o
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND o.order_status='OT05')
               UNION ALL
              (SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount, o.quantity,3 AS type
               FROM t_seckill_order o 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND o.order_status='OT05')
               UNION ALL
              (SELECT o.mark_id, o.order_no, o.order_status, o.order_time, o.pay_amount, o.quantity,2 AS type
               FROM t_teambuy_group g LEFT JOIN t_teambuy_order o ON g.mark_id=o.group_id 
               WHERE o.user_id=#{userId,jdbcType=VARCHAR} AND g.server_status=2 AND o.order_status='OT05')) o
    </select>
    <select id="selectOrderDetail" parameterType="java.lang.String" resultType="com.szhengzhu.bean.wechat.vo.OrderDetail">
        SELECT o.mark_id AS orderId,o.order_no AS orderNo,o.order_time AS orderTime,o.delivery_amount AS deliveryAmount,
               o.pay_amount AS payAmount,o.delivery_date AS deliveryDate, a.`name` AS orderStatus,d.contact,d.phone, 
               CONCAT(d.delivery_area, d.delivery_address) AS address,(SUM(i.sale_price - i.pay_amount) + (o.order_amount - o.pay_amount)) AS discount,o.remark
        FROM t_order_info o LEFT JOIN 
             db_base.t_attribute_info a ON o.order_status=a.`code` LEFT JOIN 
             t_order_delivery d ON d.order_id=o.mark_id LEFT JOIN 
             t_order_item i ON o.mark_id=i.order_id 
        WHERE order_no=#{orderNo,jdbcType=VARCHAR}
    </select>
</mapper>