<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.TeambuyGroupMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.order.TeambuyGroup">
        <id column="mark_id" jdbcType="VARCHAR" property="markId" />
        <result column="group_no" jdbcType="VARCHAR" property="groupNo" />
        <result column="theme" jdbcType="VARCHAR" property="theme" />
        <result column="goods_id" jdbcType="VARCHAR" property="goodsId" />
        <result column="super_no" jdbcType="VARCHAR" property="superNo" />
        <result column="teambuy_id" jdbcType="VARCHAR" property="teambuyId" />
        <result column="creator" jdbcType="VARCHAR" property="creator" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="req_count" jdbcType="INTEGER" property="reqCount" />
        <result column="vaild_time" jdbcType="INTEGER" property="vaildTime" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="current_count" jdbcType="INTEGER" property="currentCount" />
        <result column="group_status" jdbcType="VARCHAR" property="groupStatus" />
        <result column="statusDesc" jdbcType="VARCHAR" property="statusDesc" />
    </resultMap>
    <sql id="Base_Column_List">
        g.mark_id, g.group_no, g.theme, g.goods_id,
        g.super_no, g.teambuy_id,
        g.creator, g.create_time, g.req_count, g.vaild_time,
        g.type, g.current_count,
        g.group_status
    </sql>
    <sql id="Base_Item_List">
        o.mark_id AS itemId, o.order_no, o.group, o.goods_name,
        o.quantity, o.order_amount, o.delivery_amount, o.pay_amount,
        o.order_time, o.cancel_time, o.delivery_date, o.send_time,  o.arrive_time,
        o.order_source, o.sort
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />,
        (SELECT a.`name` FROM db_base.t_attribute_info a WHERE a.`code`=g.group_status) AS statusDesc
        from t_teambuy_group g
        where mark_id = #{markId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_teambuy_group
        where mark_id = #{markId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.order.TeambuyGroup">
        insert into t_teambuy_group (mark_id, group_no, theme, goods_id, super_no,
            teambuy_id, creator, create_time, req_count, vaild_time, type, current_count, group_status)
        values (#{markId,jdbcType=VARCHAR},
            #{groupNo,jdbcType=VARCHAR}, #{theme,jdbcType=VARCHAR},
            #{goodsId,jdbcType=VARCHAR},
            #{superNo,jdbcType=VARCHAR}, #{teambuyId,jdbcType=VARCHAR},
            #{creator,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
            #{reqCount,jdbcType=INTEGER}, #{vaildTime,jdbcType=INTEGER},
            #{modifier,jdbcType=VARCHAR}, #{modifyTime,jdbcType=TIMESTAMP},
            #{type,jdbcType=INTEGER}, #{currentCount,jdbcType=INTEGER},
            #{groupStatus,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.order.TeambuyGroup">
        insert into t_teambuy_group
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                mark_id,
            </if>
            <if test="groupNo != null">
                group_no,
            </if>
            <if test="theme != null">
                theme,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="superNo != null">
                super_no,
            </if>
            <if test="teambuyId != null">
                teambuy_id,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="reqCount != null">
                req_count,
            </if>
            <if test="vaildTime != null">
                vaild_time,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="currentCount != null">
                current_count,
            </if>
            <if test="groupStatus != null">
                group_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                #{markId,jdbcType=VARCHAR},
            </if>
            <if test="groupNo != null">
                #{groupNo,jdbcType=VARCHAR},
            </if>
            <if test="theme != null">
                #{theme,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="superNo != null">
                #{superNo,jdbcType=VARCHAR},
            </if>
            <if test="teambuyId != null">
                #{teambuyId,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reqCount != null">
                #{reqCount,jdbcType=INTEGER},
            </if>
            <if test="vaildTime != null">
                #{vaildTime,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="currentCount != null">
                #{currentCount,jdbcType=INTEGER},
            </if>
            <if test="groupStatus != null">
                #{groupStatus,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.order.TeambuyGroup">
        update t_teambuy_group
        <set>
            <if test="groupNo != null">
                group_no = #{groupNo,jdbcType=VARCHAR},
            </if>
            <if test="theme != null">
                theme = #{theme,jdbcType=VARCHAR},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=VARCHAR},
            </if>
            <if test="superNo != null">
                super_no = #{superNo,jdbcType=VARCHAR},
            </if>
            <if test="teambuyId != null">
                teambuy_id = #{teambuyId,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reqCount != null">
                req_count = #{reqCount,jdbcType=INTEGER},
            </if>
            <if test="vaildTime != null">
                vaild_time = #{vaildTime,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="currentCount != null">
                current_count = #{currentCount,jdbcType=INTEGER},
            </if>
            <if test="groupStatus != null">
                group_status = #{groupStatus,jdbcType=VARCHAR},
            </if>
        </set>
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.order.TeambuyGroup">
        update t_teambuy_group
        set group_no = #{groupNo,jdbcType=VARCHAR},
            theme = #{theme,jdbcType=VARCHAR},
            goods_id = #{goodsId,jdbcType=VARCHAR},
            super_no = #{superNo,jdbcType=VARCHAR},
            teambuy_id = #{teambuyId,jdbcType=VARCHAR},
            creator = #{creator,jdbcType=VARCHAR},
            create_time = #{createTime,jdbcType=TIMESTAMP},
            req_count = #{reqCount,jdbcType=INTEGER},
            vaild_time = #{vaildTime,jdbcType=INTEGER},
            type = #{type,jdbcType=INTEGER},
            current_count = #{currentCount,jdbcType=INTEGER},
            group_status = #{groupStatus,jdbcType=VARCHAR}
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <select id="selectByExampleSelective" parameterType="com.szhengzhu.bean.order.TeambuyGroup" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" /> 
        FROM t_teambuy_group g
        <where>
            <if test="markId != null">
                g.mark_id = #{markId,jdbcType=VARCHAR}
            </if>
            <if test="groupNo != null">
                AND g.group_no LIKE CONCAT('%', #{groupNo,jdbcType=VARCHAR}, '%')
            </if>
            <if test="theme != null">
                AND g.theme LIKE CONCAT('%', #{theme,jdbcType=VARCHAR}, '%')
            </if>
            <if test="goodsId != null">
                AND g.goods_id = #{goodsId,jdbcType=VARCHAR}
            </if>
            <if test="superNo != null">
                AND g.super_no = #{superNo,jdbcType=VARCHAR}
            </if>
            <if test="teambuyId != null">
                AND g.teambuy_id = #{teambuyId,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null">
                AND TO_DAYS(g.create_time) = TO_DAYS(#{createTime,jdbcType=TIMESTAMP})
            </if>
            <if test="reqCount != null">
                AND g.req_count = #{reqCount,jdbcType=INTEGER}
            </if>
            <if test="type != null">
                AND g.type = #{type,jdbcType=INTEGER}
            </if>
            <if test="currentCount != null">
                AND g.current_count = #{currentCount,jdbcType=INTEGER}
            </if>
            <if test="groupStatus != null">
                AND g.group_status = #{groupStatus,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
</mapper>