<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.UserCouponMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.order.UserCoupon">
        <id column="mark_id" jdbcType="VARCHAR" property="markId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="template_id" jdbcType="VARCHAR" property="templateId" />
        <result column="server_status" jdbcType="INTEGER" property="serverStatus" />
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
        <result column="stop_time" jdbcType="TIMESTAMP" property="stopTime" />
        <result column="use_time" jdbcType="TIMESTAMP" property="useTime" />
        <result column="limit_price" jdbcType="DECIMAL" property="limitPrice" />
        <result column="coupon_price" jdbcType="DECIMAL" property="couponPrice" />
        <result column="coupon_discount" jdbcType="DECIMAL" property="couponDiscount" />
        <result column="coupon_name" jdbcType="VARCHAR" property="couponName" />
        <result column="link_id" jdbcType="VARCHAR" property="linkId" />
        <result column="link_name" jdbcType="VARCHAR" property="linkName" />
        <result column="coupon_type" jdbcType="INTEGER" property="couponType" />
        <result column="limit_region" jdbcType="VARCHAR" property="limitRegion" />
        <result column="limit_time" jdbcType="VARCHAR" property="limitTime" />
    </resultMap>
    <sql id="Base_Column_List">
        mark_id, user_id, template_id, server_status,
        start_time, stop_time, use_time, limit_price,
        coupon_price,
        coupon_discount, coupon_name, link_id, link_name,
        coupon_type,limit_region,limit_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_user_coupon
        where mark_id = #{markId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_user_coupon
        where mark_id =
        #{markId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.order.UserCoupon">
        insert into t_user_coupon (mark_id, user_id,
        template_id,
        server_status, start_time, stop_time, use_time,
        limit_price, coupon_price, coupon_discount, coupon_name,
        link_id, link_name, coupon_type,limit_region)
        values
        (#{markId,jdbcType=VARCHAR},
        #{userId,jdbcType=VARCHAR},
        #{templateId,jdbcType=VARCHAR},
        #{serverStatus,jdbcType=INTEGER},
        #{startTime,jdbcType=TIMESTAMP}, #{stopTime,jdbcType=TIMESTAMP},
        #{useTime,jdbcType=TIMESTAMP}, #{limitPrice,jdbcType=DECIMAL},
        #{couponPrice,jdbcType=DECIMAL},
        #{couponDiscount,jdbcType=DECIMAL},
        #{couponName,jdbcType=VARCHAR}, #{linkId,jdbcType=VARCHAR},
        #{linkName,jdbcType=VARCHAR},
        #{couponType,jdbcType=INTEGER},#{limitRegion,jdbcType=VARCHAR}, #{limitTime,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.order.UserCoupon">
        insert into t_user_coupon
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                mark_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="templateId != null">
                template_id,
            </if>
            <if test="serverStatus != null">
                server_status,
            </if>
            <if test="startTime != null">
                start_time,
            </if>
            <if test="stopTime != null">
                stop_time,
            </if>
            <if test="useTime != null">
                use_time,
            </if>
            <if test="limitPrice != null">
                limit_price,
            </if>
            <if test="couponPrice != null">
                coupon_price,
            </if>
            <if test="couponDiscount != null">
                coupon_discount,
            </if>
            <if test="couponName != null">
                coupon_name,
            </if>
            <if test="linkId != null">
                link_id,
            </if>
            <if test="linkName != null">
                link_name,
            </if>
            <if test="couponType != null">
                coupon_type,
            </if>
            <if test="limitRegion != null">
                limit_region,
            </if>
            <if test="limitTime != null">
                limit_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                #{markId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null">
                #{templateId,jdbcType=VARCHAR},
            </if>
            <if test="serverStatus != null">
                #{serverStatus,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stopTime != null">
                #{stopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="useTime != null">
                #{useTime,jdbcType=TIMESTAMP},
            </if>
            <if test="limitPrice != null">
                #{limitPrice,jdbcType=DECIMAL},
            </if>
            <if test="couponPrice != null">
                #{couponPrice,jdbcType=DECIMAL},
            </if>
            <if test="couponDiscount != null">
                #{couponDiscount,jdbcType=DECIMAL},
            </if>
            <if test="couponName != null">
                #{couponName,jdbcType=VARCHAR},
            </if>
            <if test="linkId != null">
                #{linkId,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null">
                #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="couponType != null">
                #{couponType,jdbcType=INTEGER},
            </if>
            <if test="limitRegion != null">
                #{limitRegion,jdbcType=VARCHAR},
            </if>
             <if test="limitTime != null">
                 #{limitTime,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.order.UserCoupon">
        update t_user_coupon
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="templateId != null">
                template_id = #{templateId,jdbcType=VARCHAR},
            </if>
            <if test="serverStatus != null">
                server_status =
                #{serverStatus,jdbcType=INTEGER},
            </if>
            <if test="startTime != null">
                start_time = #{startTime,jdbcType=TIMESTAMP},
            </if>
            <if test="stopTime != null">
                stop_time = #{stopTime,jdbcType=TIMESTAMP},
            </if>
            <if test="useTime != null">
                use_time = #{useTime,jdbcType=TIMESTAMP},
            </if>
            <if test="limitPrice != null">
                limit_price = #{limitPrice,jdbcType=DECIMAL},
            </if>
            <if test="couponPrice != null">
                coupon_price = #{couponPrice,jdbcType=DECIMAL},
            </if>
            <if test="couponDiscount != null">
                coupon_discount =
                #{couponDiscount,jdbcType=DECIMAL},
            </if>
            <if test="couponName != null">
                coupon_name = #{couponName,jdbcType=VARCHAR},
            </if>
            <if test="linkId != null">
                link_id = #{linkId,jdbcType=VARCHAR},
            </if>
            <if test="linkName != null">
                link_name = #{linkName,jdbcType=VARCHAR},
            </if>
            <if test="couponType != null">
                coupon_type = #{couponType,jdbcType=INTEGER},
            </if>
            <if test="limitRegion != null">
                limit_region = #{limitRegion,jdbcType=VARCHAR},
            </if>
             <if test="limitTime != null">
                limit_time =  #{limitTime,jdbcType=VARCHAR},
            </if>
        </set>
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.order.UserCoupon">
        update t_user_coupon
        set user_id =
        #{userId,jdbcType=VARCHAR},
        template_id = #{templateId,jdbcType=VARCHAR},
        server_status = #{serverStatus,jdbcType=INTEGER},
        start_time = #{startTime,jdbcType=TIMESTAMP},
        stop_time = #{stopTime,jdbcType=TIMESTAMP},
        use_time = #{useTime,jdbcType=TIMESTAMP},
        limit_price = #{limitPrice,jdbcType=DECIMAL},
        coupon_price = #{couponPrice,jdbcType=DECIMAL},
        coupon_discount = #{couponDiscount,jdbcType=DECIMAL},
        coupon_name = #{couponName,jdbcType=VARCHAR},
        link_id = #{linkId,jdbcType=VARCHAR},
        link_name = #{linkName,jdbcType=VARCHAR},
        coupon_type = #{couponType,jdbcType=INTEGER},
        limit_region = #{limitRegion,jdbcType=VARCHAR},
        limit_time =  #{limitTime,jdbcType=VARCHAR}
        where mark_id =
        #{markId,jdbcType=VARCHAR}
    </update>
    <select id="selectByExampleSelective" parameterType="com.szhengzhu.bean.order.UserCoupon" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        ,
        (SELECT u.nick_name FROM db_user.t_user_info u WHERE
        u.mark_id=user_id) AS userName
        from t_user_coupon
        <where>
            <if test="markId != null">
                mark_id = #{markId,jdbcType=VARCHAR}
            </if>
            <if test="userId != null">
                AND user_id = #{userId,jdbcType=VARCHAR}
            </if>
            <if test="serverStatus != null">
                AND server_status =
                #{serverStatus,jdbcType=INTEGER}
            </if>
            <if test="startTime != null">
                AND start_time = #{startTime,jdbcType=TIMESTAMP}
            </if>
            <if test="stopTime != null">
                AND stop_time = #{stopTime,jdbcType=TIMESTAMP}
            </if>
            <if test="useTime != null">
                AND use_time = #{useTime,jdbcType=TIMESTAMP}
            </if>
            <if test="limitPrice != null">
                AND limit_price = #{limitPrice,jdbcType=DECIMAL}
            </if>
            <if test="couponPrice != null">
                AND coupon_price =
                #{couponPrice,jdbcType=DECIMAL}
            </if>
            <if test="couponDiscount != null">
                AND coupon_discount =
                #{couponDiscount,jdbcType=DECIMAL}
            </if>
            <if test="couponName != null">
                AND coupon_name LIKE CONCAT(CONCAT('%',
                #{couponName,jdbcType=VARCHAR}), '%')
            </if>
            <if test="linkId != null">
                AND link_id = #{linkId,jdbcType=VARCHAR}
            </if>
            <if test="linkName != null">
                AND link_name LIKE CONCAT(CONCAT('%',
                #{linkName,jdbcType=VARCHAR}), '%')
            </if>
            <if test="couponType != null">
                AND coupon_type = #{couponType,jdbcType=INTEGER}
            </if>
            <if test="limitRegion != null">
                AND limit_region =
                #{limitRegion,jdbcType=VARCHAR}
            </if>
             <if test="limitTime != null">
                AND limit_time =
                #{limitTime,jdbcType=VARCHAR}
            </if>
        </where>
    </select>
    <select id="selectByUser" resultType="com.szhengzhu.bean.wechat.vo.CouponBase">
        SELECT c.mark_id AS couponId, c.start_time AS
        startTime,c.stop_time AS stopTime,c.limit_price AS limitPrice,
        c.coupon_price AS price, c.coupon_discount AS discount,
        c.coupon_name AS couponName, c.server_status AS serverStatus
        FROM t_user_coupon c
        WHERE c.user_id=#{userId,jdbcType=VARCHAR} AND coupon_type = #{type,jdbcType=INTEGER} AND server_status = 0 AND
              <!-- (CASE WHEN c.start_time IS NOT NULL THEN 
                         c.start_time <![CDATA[ < ]]> NOW() 
                     ELSE 
                         1=1 
                END) AND  -->
                (CASE WHEN c.stop_time IS NOT NULL THEN 
                          c.stop_time <![CDATA[ > ]]> NOW() 
                      ELSE 
                          1=1 
                 END)
        ORDER BY c.coupon_price DESC, c.start_time ASC
    </select>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_user_coupon (mark_id, user_id, template_id,
        server_status, start_time, stop_time, use_time,limit_price,
        coupon_price, coupon_discount, coupon_name, link_id, link_name,
        coupon_type,limit_region,limit_time)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.markId,jdbcType=VARCHAR},
            #{item.userId,jdbcType=VARCHAR},
            #{item.templateId,jdbcType=VARCHAR},
            #{item.serverStatus,jdbcType=INTEGER},
            #{item.startTime,jdbcType=TIMESTAMP},
            #{item.stopTime,jdbcType=TIMESTAMP},
            #{item.useTime,jdbcType=TIMESTAMP},
            #{item.limitPrice,jdbcType=DECIMAL},
            #{item.couponPrice,jdbcType=DECIMAL},
            #{item.couponDiscount,jdbcType=DECIMAL},
            #{item.couponName,jdbcType=VARCHAR},
            #{item.linkId,jdbcType=VARCHAR},
            #{item.linkName,jdbcType=VARCHAR},
            #{item.couponType,jdbcType=INTEGER},
            #{item.limitRegion,jdbcType=VARCHAR},
            #{item.limitTime,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
</mapper>