<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.CommoditySpecsMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.ordering.CommoditySpecs">
        <id column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
        <id column="specs_id" jdbcType="VARCHAR" property="specsId" />
        <result column="min_value" jdbcType="INTEGER" property="minValue" />
        <result column="max_value" jdbcType="INTEGER" property="maxValue" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>
    <resultMap type="com.szhengzhu.bean.ordering.vo.CommoditySpecsVo" id="BaseResultMapVo">
        <result column="specs_id" jdbcType="VARCHAR" property="specsId" />
        <result column="min_value" jdbcType="INTEGER" property="minValue" />
        <result column="max_value" jdbcType="INTEGER" property="maxValue" />
        <collection property="itemList" ofType="com.szhengzhu.bean.ordering.vo.CommodityItemVo">
            <result column="item_id" jdbcType="VARCHAR" property="itemId" />
            <result column="markup_price" jdbcType="DECIMAL" property="markupPrice" />
            <result column="sort" jdbcType="INTEGER" property="sort" />
            <result column="checked" property="checked" jdbcType="BIT" />
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        commodity_id, specs_id, min_value, max_value, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_commodity_specs
        where commodity_id = #{commodityId,jdbcType=VARCHAR}
        and specs_id = #{specsId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_commodity_specs
        where commodity_id = #{commodityId,jdbcType=VARCHAR}
        and specs_id = #{specsId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.ordering.CommoditySpecs">
        insert into t_commodity_specs (commodity_id, specs_id, min_value,
        max_value, create_time, modify_time
        )
        values (#{commodityId,jdbcType=VARCHAR}, #{specsId,jdbcType=VARCHAR}, #{minValue,jdbcType=INTEGER},
        #{maxValue,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}
        )
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.ordering.CommoditySpecs">
        insert into t_commodity_specs
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="commodityId != null">
                commodity_id,
            </if>
            <if test="specsId != null">
                specs_id,
            </if>
            <if test="minValue != null">
                min_value,
            </if>
            <if test="maxValue != null">
                max_value,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="commodityId != null">
                #{commodityId,jdbcType=VARCHAR},
            </if>
            <if test="specsId != null">
                #{specsId,jdbcType=VARCHAR},
            </if>
            <if test="minValue != null">
                #{minValue,jdbcType=INTEGER},
            </if>
            <if test="maxValue != null">
                #{maxValue,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.ordering.CommoditySpecs">
        update t_commodity_specs
        <set>
            <if test="minValue != null">
                min_value = #{minValue,jdbcType=INTEGER},
            </if>
            <if test="maxValue != null">
                max_value = #{maxValue,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where commodity_id = #{commodityId,jdbcType=VARCHAR}
        and specs_id = #{specsId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.ordering.CommoditySpecs">
        update t_commodity_specs
        set min_value = #{minValue,jdbcType=INTEGER},
        max_value = #{maxValue,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where commodity_id = #{commodityId,jdbcType=VARCHAR}
        and specs_id = #{specsId,jdbcType=VARCHAR}
    </update>
    <select id="selectVoByCommodityId" parameterType="java.lang.String" resultMap="BaseResultMapVo">        
        SELECT ci.specs_id, IFNULL(cs.min_value, 0) AS min_value, IFNULL(cs.max_value, 0) AS max_value, ci.item_id, ci.markup_price, ci.sort, ci.checked 
        FROM t_commodity_item ci LEFT JOIN t_commodity_specs cs ON ci.commodity_id=cs.commodity_id AND cs.specs_id=ci.specs_id LEFT JOIN t_specs_info s ON ci.specs_id=s.mark_id LEFT JOIN 
             t_specs_item si ON ci.item_id=si.mark_id AND ci.item_id=si.mark_id
        WHERE ci.commodity_id=#{commodityId,jdbcType=VARCHAR}
    </select>
</mapper>