<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.MarketCommodityMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.ordering.MarketCommodity">
        <id column="mark_id" jdbcType="VARCHAR" property="markId" />
        <result column="type" jdbcType="INTEGER" property="type" />
        <result column="market_id" jdbcType="VARCHAR" property="marketId" />
        <result column="commodity_id" jdbcType="VARCHAR" property="commodityId" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
    </resultMap>
    <sql id="Base_Column_List">
        mark_id, type, market_id, commodity_id, sort
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_market_commodity
        where mark_id = #{markId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_market_commodity
        where mark_id = #{markId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.ordering.MarketCommodity">
        insert into t_market_commodity (mark_id, type, market_id,
        commodity_id, sort)
        values (#{markId,jdbcType=VARCHAR}, #{type,jdbcType=INTEGER}, #{marketId,jdbcType=VARCHAR},
        #{commodityId,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.ordering.MarketCommodity">
        insert into t_market_commodity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                mark_id,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="marketId != null">
                market_id,
            </if>
            <if test="commodityId != null">
                commodity_id,
            </if>
            <if test="sort != null">
                sort,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                #{markId,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="marketId != null">
                #{marketId,jdbcType=VARCHAR},
            </if>
            <if test="commodityId != null">
                #{commodityId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.ordering.MarketCommodity">
        update t_market_commodity
        <set>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="marketId != null">
                market_id = #{marketId,jdbcType=VARCHAR},
            </if>
            <if test="commodityId != null">
                commodity_id = #{commodityId,jdbcType=VARCHAR},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
        </set>
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.ordering.MarketCommodity">
        update t_market_commodity
        set type = #{type,jdbcType=INTEGER},
        market_id = #{marketId,jdbcType=VARCHAR},
        commodity_id = #{commodityId,jdbcType=VARCHAR},
        sort = #{sort,jdbcType=INTEGER}
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_market_commodity (mark_id, type, market_id,
        commodity_id, sort)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.markId,jdbcType=VARCHAR}, #{item.type,jdbcType=INTEGER}, #{item.marketId,jdbcType=VARCHAR},
        #{item.commodityId,jdbcType=VARCHAR}, #{item.sort,jdbcType=INTEGER})
        </foreach>
    </insert>
    <select id="selectExistComm" resultType="java.lang.Integer">
        SELECT 1 FROM t_market_commodity mc LEFT JOIN t_market_info m ON m.mark_id=mc.market_id
        WHERE m.status = 1 and mc.commodity_id in 
        <foreach collection="list" item="commodityId" index="index" open="(" separator="," close=")">
            #{commodityId}
        </foreach>
        LIMIT 1
    </select>
</mapper>