<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.IntegralAccountMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.member.IntegralAccount">
        <id column="mark_id" jdbcType="VARCHAR" property="markId" />
        <result column="user_id" jdbcType="VARCHAR" property="userId" />
        <result column="account_no" jdbcType="VARCHAR" property="accountNo" />
        <result column="total_integral" jdbcType="INTEGER" property="totalIntegral" />
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    </resultMap>
    <sql id="Base_Column_List">
        mark_id, user_id, account_no, total_integral, create_time, modify_time
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_integral_account
        where mark_id = #{markId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_integral_account
        where mark_id = #{markId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.member.IntegralAccount">
        insert into t_integral_account (mark_id, user_id, account_no, total_integral,
        create_time, modify_time)
        values (#{markId,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}, #{accountNo,jdbcType=VARCHAR}, #{totalIntegral,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.member.IntegralAccount">
        insert into t_integral_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                mark_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="accountNo != null">
                account_no,
            </if>
            <if test="totalIntegral != null">
                total_integral,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                #{markId,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=VARCHAR},
            </if>
            <if test="accountNo != null">
                #{accountNo,jdbcType=VARCHAR},
            </if>
            <if test="totalIntegral != null">
                #{totalIntegral,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.member.IntegralAccount">
        update t_integral_account
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=VARCHAR},
            </if>
            <if test="accountNo != null">
                account_no = #{accountNo,jdbcType=VARCHAR},
            </if>
            <if test="totalIntegral != null">
                total_integral = #{totalIntegral,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.member.IntegralAccount">
        update t_integral_account
        set user_id = #{userId,jdbcType=VARCHAR},
        account_no = #{accountNo,jdbcType=VARCHAR},
        total_integral = #{totalIntegral,jdbcType=INTEGER},
        create_time = #{createTime,jdbcType=TIMESTAMP},
        modify_time = #{modifyTime,jdbcType=TIMESTAMP}
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <select id="selectByUser" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List" />
        from t_integral_account
        where user_id = #{userId,jdbcType=VARCHAR}
    </select>
</mapper>