<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.PrizeReceiveMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.member.PrizeReceive">
        <!--@Table t_prize_receive-->
        <id property="markId" column="mark_id" jdbcType="VARCHAR"/>
        <result property="userId" column="user_id" jdbcType="VARCHAR"/>
        <result property="prizeId" column="prize_id" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="modifyTime" column="modify_time" jdbcType="TIMESTAMP"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="prizeName" column="prizeName" jdbcType="VARCHAR"/>
        <result property="templateName" column="templateName" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        p.mark_id, p.user_id, p.prize_id, p.create_time, p.modify_time
    </sql>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>,prize_name as prizeName,
        (select phone from t_member_account where user_id=p.user_id) as phone,
        (select t.name from db_ordering.t_ticket_template t where t.mark_id=i.template_id) as templateName
        from t_prize_receive p inner join t_prize_info i on i.mark_id=p.prize_id
        where p.mark_id = #{markId}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>,prize_name as prizeName,
        (select phone from t_member_account where user_id=p.user_id) as phone,
        (select t.name from db_ordering.t_ticket_template t where t.mark_id=i.template_id) as templateName
        from t_prize_receive p inner join t_prize_info i on i.mark_id=p.prize_id
        WHERE prize_name <![CDATA[<>]]> '谢谢惠顾'
        <if test="lotteryId != null and lotteryId != ''">
            and i.lottery_id = #{lotteryId,jdbcType=VARCHAR}
        </if>
        <if test="userId != null and userId != ''">
            and p.user_id = #{userId,jdbcType=VARCHAR}
        </if>
        order by p.create_time desc
    </select>

    <!--新增所有列-->
    <insert id="add" keyProperty="markId" useGeneratedKeys="true">
        insert into t_prize_receive
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null and markId != ''">
                mark_id,
            </if>
            <if test="userId != null and userId != ''">
                user_id,
            </if>
            <if test="prizeId != null and prizeId != ''">
                prize_id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null and markId != ''">
                #{markId},
            </if>
            <if test="userId != null and userId != ''">
                #{userId},
            </if>
            <if test="prizeId != null and prizeId != ''">
                #{prizeId},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="modifyTime != null">
                #{modifyTime},
            </if>
        </trim>
    </insert>

    <!--通过主键修改数据-->
    <update id="modify">
        update t_prize_receive
        <set>
            <if test="userId != null and userId != ''">
                user_id = #{userId},
            </if>
            <if test="prizeId != null and prizeId != ''">
                prize_id = #{prizeId},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime},
            </if>
        </set>
        where mark_id = #{markId}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete
        from t_prize_receive
        where mark_id = #{markId}
    </delete>

    <!--查询中奖纪录-->
    <select id="selectReceive" resultMap="BaseResultMap">
        select<include refid="Base_Column_List"/>,prize_name as prizeName,
        (select phone from t_member_account where user_id=p.user_id) as phone,
        (select t.name from db_ordering.t_ticket_template t where t.mark_id=i.template_id) as templateName
        from t_prize_receive p inner join t_prize_info i on i.mark_id=p.prize_id
        WHERE prize_name <![CDATA[<>]]> '谢谢惠顾' and i.lottery_id=#{lotteryId,jdbcType=VARCHAR}
    </select>
</mapper>
