<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.szhengzhu.mapper.AreaInfoMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.base.AreaInfo">
        <id column="num" property="num" jdbcType="VARCHAR" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="super_id" property="superId" jdbcType="VARCHAR" />
        <collection property="areas" ofType="com.szhengzhu.bean.base.AreaInfo" column="num">
            <id column="num1" property="num" jdbcType="VARCHAR" />
            <result column="name1" property="name" jdbcType="VARCHAR" />
            <result column="super_id1" property="superId" jdbcType="VARCHAR" />
            <collection property="areas" ofType="com.szhengzhu.bean.base.AreaInfo" column="num1">
                <id column="num2" property="num" jdbcType="VARCHAR" />
                <result column="name2" property="name" jdbcType="VARCHAR" />
                <result column="super_id2" property="superId" jdbcType="VARCHAR" />
            </collection>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        num, name, super_id
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from t_area_info
        where num = #{num,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_area_info
        where num = #{num,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.base.AreaInfo">
        insert into t_area_info (num, name, super_id)
        values (#{num,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
        #{superId,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.base.AreaInfo">
        insert into t_area_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="num != null">
                num,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="superId != null">
                super_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="num != null">
                #{num,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="superId != null">
                #{superId,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.base.AreaInfo">
        update t_area_info
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="superId != null">
                super_id = #{superId,jdbcType=VARCHAR},
            </if>
        </set>
        where num = #{num,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.base.AreaInfo">
        update t_area_info
        set name =
        #{name,jdbcType=VARCHAR},
        super_id = #{superId,jdbcType=VARCHAR}
        where num = #{num,jdbcType=VARCHAR}
    </update>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT a.num, a.`name`, a.super_id, b.num AS num1, b.`name` AS name1,
        b.super_id AS super_id1, c.num AS num2, c.`name` AS name2,
        c.super_id AS super_id2 FROM t_area_info a LEFT JOIN t_area_info
        b ON a.num=b.super_id LEFT JOIN t_area_info c ON
        b.num=c.super_id WHERE a.super_id IS NULL
    </select>
</mapper>