<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.LinkItemMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.activity.LinkItem">
        <id column="mark_id" jdbcType="VARCHAR" property="markId" />
        <result column="price" jdbcType="DECIMAL" property="price" />
        <result column="super_id" jdbcType="VARCHAR" property="superId" />
        <result column="specification_ids" jdbcType="VARCHAR" property="specificationIds" />
    </resultMap>
    <sql id="Base_Column_List">
        mark_id, price, super_id, specification_ids
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_link_item
        where mark_id = #{markId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_link_item
        where mark_id = #{markId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.activity.LinkItem">
        insert into t_link_item (mark_id, price, super_id,
        specification_ids)
        values (#{markId,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{superId,jdbcType=VARCHAR},
        #{specificationIds,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.activity.LinkItem">
        insert into t_link_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                mark_id,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="superId != null">
                super_id,
            </if>
            <if test="specificationIds != null">
                specification_ids,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                #{markId,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="superId != null">
                #{superId,jdbcType=VARCHAR},
            </if>
            <if test="specificationIds != null">
                #{specificationIds,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.activity.LinkItem">
        update t_link_item
        <set>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="superId != null">
                super_id = #{superId,jdbcType=VARCHAR},
            </if>
            <if test="specificationIds != null">
                specification_ids = #{specificationIds,jdbcType=VARCHAR},
            </if>
        </set>
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.activity.LinkItem">
        update t_link_item
        set price = #{price,jdbcType=DECIMAL},
        super_id = #{superId,jdbcType=VARCHAR},
        specification_ids = #{specificationIds,jdbcType=VARCHAR}
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <insert id="insertBatch" parameterType="java.util.List">
        insert into t_link_item (mark_id, price, super_id,
        specification_ids) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.markId,jdbcType=VARCHAR}, #{item.price,jdbcType=DECIMAL}, #{item.superId,jdbcType=VARCHAR}, #{item.specificationIds,jdbcType=VARCHAR})
        </foreach>
    </insert>
</mapper>