<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.szhengzhu.mapper.SceneGoodsMapper">
    <resultMap id="BaseResultMap" type="com.szhengzhu.bean.activity.SceneGoods">
        <id column="mark_id" jdbcType="VARCHAR" property="markId" />
        <result column="scene_id" jdbcType="VARCHAR" property="sceneId" />
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName" />
        <result column="base_price" jdbcType="DECIMAL" property="basePrice" />
        <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="image_path" jdbcType="VARCHAR" property="imagePath" />
        <result column="stock_size" jdbcType="INTEGER" property="stockSize" />
        <result column="receive_size" jdbcType="INTEGER" property="receiveSize" />
        <result column="sort" jdbcType="INTEGER" property="sort" />
        <result column="server_status" jdbcType="BIT" property="serverStatus" />
    </resultMap>
    <sql id="Base_Column_List">
        mark_id, scene_id, goods_name, base_price, sale_price, description, image_path, stock_size,
        receive_size, sort, server_status
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_scene_goods
        where mark_id = #{markId,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from t_scene_goods
        where mark_id = #{markId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="com.szhengzhu.bean.activity.SceneGoods">
        insert into t_scene_goods (mark_id, scene_id, goods_name,
        base_price, sale_price, description,
        image_path, stock_size, receive_size,
        sort,server_status)
        values (#{markId,jdbcType=VARCHAR}, #{sceneId,jdbcType=VARCHAR}, #{goodsName,jdbcType=VARCHAR},
        #{basePrice,jdbcType=DECIMAL}, #{salePrice,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR},
        #{imagePath,jdbcType=VARCHAR}, #{stockSize,jdbcType=INTEGER}, #{receiveSize,jdbcType=INTEGER},
        #{sort,jdbcType=INTEGER}, #{serverStatus,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="com.szhengzhu.bean.activity.SceneGoods">
        insert into t_scene_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                mark_id,
            </if>
            <if test="sceneId != null">
                scene_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="basePrice != null">
                base_price,
            </if>
            <if test="salePrice != null">
                sale_price,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="imagePath != null">
                image_path,
            </if>
            <if test="stockSize != null">
                stock_size,
            </if>
            <if test="receiveSize != null">
                receive_size,
            </if>
            <if test="sort != null">
                sort,
            </if>
            <if test="serverStatus != null">
                server_status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="markId != null">
                #{markId,jdbcType=VARCHAR},
            </if>
            <if test="sceneId != null">
                #{sceneId,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="basePrice != null">
                #{basePrice,jdbcType=DECIMAL},
            </if>
            <if test="salePrice != null">
                #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="stockSize != null">
                #{stockSize,jdbcType=INTEGER},
            </if>
            <if test="receiveSize != null">
                #{receiveSize,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                #{sort,jdbcType=INTEGER},
            </if>
            <if test="serverStatus != null">
                #{serverStatus,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.szhengzhu.bean.activity.SceneGoods">
        update t_scene_goods
        <set>
            <if test="sceneId != null">
                scene_id = #{sceneId,jdbcType=VARCHAR},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="basePrice != null">
                base_price = #{basePrice,jdbcType=DECIMAL},
            </if>
            <if test="salePrice != null">
                sale_price = #{salePrice,jdbcType=DECIMAL},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="imagePath != null">
                image_path = #{imagePath,jdbcType=VARCHAR},
            </if>
            <if test="stockSize != null">
                stock_size = #{stockSize,jdbcType=INTEGER},
            </if>
            <if test="receiveSize != null">
                receive_size = #{receiveSize,jdbcType=INTEGER},
            </if>
            <if test="sort != null">
                sort = #{sort,jdbcType=INTEGER},
            </if>
            <if test="serverStatus != null">
                server_status = #{serverStatus,jdbcType=BIT},
            </if>
        </set>
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.szhengzhu.bean.activity.SceneGoods">
        update t_scene_goods
        set scene_id = #{sceneId,jdbcType=VARCHAR},
        goods_name = #{goodsName,jdbcType=VARCHAR},
        base_price = #{basePrice,jdbcType=DECIMAL},
        sale_price = #{salePrice,jdbcType=DECIMAL},
        description = #{description,jdbcType=VARCHAR},
        image_path = #{imagePath,jdbcType=VARCHAR},
        stock_size = #{stockSize,jdbcType=INTEGER},
        receive_size = #{receiveSize,jdbcType=INTEGER},
        sort = #{sort,jdbcType=INTEGER},
        server_status = #{serverStatus,jdbcType=BIT}
        where mark_id = #{markId,jdbcType=VARCHAR}
    </update>
    <select id="selectByExampleSelective"  parameterType="com.szhengzhu.bean.activity.SceneGoods" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_scene_goods
        <where>
            <if test="sceneId != null">
                scene_id = #{sceneId,jdbcType=VARCHAR}
            </if>
            <if test="goodsName != null">
                AND goods_name like concat('%', #{goodsName,jdbcType=VARCHAR}, '%')
            </if>
            <if test="basePrice != null">
                AND base_price = #{basePrice,jdbcType=DECIMAL}
            </if>
            <if test="salePrice != null">
                AND sale_price = #{salePrice,jdbcType=DECIMAL}
            </if>
            <if test="description != null">
                AND description like concat('%', #{description,jdbcType=VARCHAR}, '%')
            </if>
            <if test="imagePath != null">
                AND image_path = #{imagePath,jdbcType=VARCHAR}
            </if>
            <if test="stockSize != null">
                AND stock_size = #{stockSize,jdbcType=INTEGER}
            </if>
            <if test="receiveSize != null">
                AND receive_size = #{receiveSize,jdbcType=INTEGER}
            </if>
            <if test="sort != null">
                AND sort = #{sort,jdbcType=INTEGER}
            </if>
            <if test="serverStatus != null">
                AND server_status = #{serverStatus,jdbcType=BIT}
            </if>
        </where>
    </select>
    <select id="selectForeGoodsList" resultMap="BaseResultMap">
        SELECT g.goods_name,g.sale_price AS base_price,g.description,g.image_path,g.stock_size,
            (CASE WHEN s.promotion_type=0 THEN g.sale_price-s.discount WHEN s.promotion_type=1 THEN g.sale_price*s.discount END) AS sale_price
        FROM t_scene_info s LEFT JOIN t_scene_goods g ON s.mark_id=g.scene_id
        WHERE s.server_status=1 AND s.start_time <![CDATA[ < ]]>NOW() AND s.stop_time>NOW() AND g.server_status=1 ORDER BY g.sort
    </select>
    <select id="selectByScenId" parameterType="java.lang.String"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from t_scene_goods
        where scene_id = #{sceneId,jdbcType=VARCHAR}
    </select>
</mapper>